<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <style>
        @media only screen  and (min-width: 768px) {
            .menu {
                display: flex;
                justify-content: space-between;
                margin-top: 1em;
            }
        }

        ul {
            list-style: none;
            padding: 0em 5em;
            margin: auto;         
        }
    </style>
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Samples</a>
            </div>
      
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Projects</a></li>
                </ul>

             </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="jumbotron">
        <ul class="menu">
            {% for samp in samples %}  
                <li>
                    <h1>{{samp.sample_title}}</h1>
                    <p style="font-size:90%">{{samp.sample_published}}</p>
                    <p>{{samp.sample_content|safe}}</p>
                    <p><a class="btn btn-primary btn-lg" href="#" role="button">Visit</a></p>
                </li> 
            {% endfor %}
        </ul>
    </div>
</body>

<script src="{% static 'tinymce/js/prism.js' %}"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</html>